<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/style.css">
  <title>404</title>
</head>

<body>
  <div id="app">

    <h1>404</h1>

    <p>Inget hittades!</p>

    <a href="/"><button>Tillbaka till listan</button></a>

  </div>
</body>
</html>