<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Om uppgiften</title>
</head>

<body>
  <div id="app">

    <h1>Om uppgiften</h1>

    <div style="text-align: left;">
      <p>För den här uppgiften skulle vi skapa en liten app för att lägga till och ta bort kurser i en databas.</p>
      <p>SQLite har använts för databasen, express och ejs för sidrendering.</p>
      <p>CSS och html återanvändes från en tidigare uppgift, så minimal tid behövdes för det.</p>
      <p>Validering av data görs på serversidan. Dessa situationer har testats:</p>
      <ul>
        <li>Kurskoder måste vara unika</li>
        <li>Alla fält måste anges i formuläret</li>
        <li>Länk till kursplan måste börja med http</li>
        <li>Det finns en array med tillåtna bokstäver för progression (A, B, C)</li>
        <li>Fel visas när man försöker ta bort en kurs som inte finns</li>
        <li>Fel visas om databasen inte finns, eller om sql ger error</li>
        <li>404-sida visas om man försöker gå till en route som inte finns</li>
      </ul>
      <p>Två metoder har använts för att visa meddelanden.<br>
        För startsidan skickas meddelande med i query-parameter eftersom res.redirect() används.<br>
        På ny-sidan skickas de som { error } eftersom res.render() används.</p>
      <p>Om det skulle gå riktigt illa används res.send() så ingen sidmall laddas, t.ex om databasen inte finns.</p>
      <p>Det största besväret var att hitta rätt syntax för att jobba med databasen i express router.</p>
      <p>Att publicera på Render var inte helt smärtfritt heller.</p>
      <ul>
        <li>De hade inte stöd för SQLite3 v6, så fick gå ner till v5.*, det var något om GLIBC-versionen på servern.</li>
        <li>Deras gratis konto inkluderar inte lagring, så nu skickar jag med sqlite-filen via git-repot varje gång appen publiceras.</li>
        <li>Detta skulle såklart leda till problem för ett seriöst projekt, men det funkar för den här uppgiften i alla fall.</li>
      </ul>

      <p>Det blev tydligt under arbetet att man kan få mycket gjort med några få byggstenar.</p>
    </div>
    <br>
    <a class="btn" href="/">Tillbaka till listan</a>

  </div>
</body>
</html>