<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/style.css">
  <title>Om uppgiften</title>
</head>

<body>
  <div id="app">

    <h1>Om uppgiften</h1>

    <p>För den här uppgiften skulle vi skapa en liten app för att lägga till och ta bort kurser i en databas.</p>
    <p>SQLite har använts för databasen, express och ejs för sidrendering.</p>
    <p>CSS och html återanvändes från en tidigare uppgift, så minimal tid behövdes för det.</p>
    <p>Det största besväret var att hitta rätt syntax för att jobba med databasen i express router.</p>
    <p>Det är tydligt att man kan få mycket gjort med några få byggstenar.</p>
    <br>
    <a href="/"><button>Tillbaka till listan</button></a>

  </div>
</body>
</html>